<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site</title>

  <link rel="stylesheet" href="../css/styles-index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <!--Cabeçalho do Site-->

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand col-1 col-sm-2 col-md-2 col-lg-2" href="#"> logo</a>

      <button class="menu-responsivo navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="menu collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav col-12 col-sm-6 col-md-6 col-lg-6">
          <li class="nav-item">
            <a class="nav-link" href="#sobre">Sobre o Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#parcerias">Parcerias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#avaliacoes">Avaliações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nos">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contatos">Contatos</a>
          </li>
        </ul>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <a href="cadastro-usuario.html" target="_blank">
            <button type="button" class="btn btn-primary">Ingressar</button>
          </a>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
            Entrar
          </button>
        </div>
      </div>

    </div>


  </nav>

  <main class="container carrossel">
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <section class="container col-12 col-sm-12 col-md-12 col-lg-12">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../imagens/imagem1.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>

    <section class="container sobre">
      <div class="row">
        <h4 id="sobre" class="col-12 col-sm-12 col-md-12 col-lg-12">Sobre o Site</h4>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../imagens/sobre1.jpg" alt="">
          <h5>Lorem ipsum dolor sit amet.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat dignissimos expedita labore odit
            veritatis adipisci ab, voluptates quia ad provident nobis repellat assumenda natus blanditiis consectetur
            beatae. Doloremque, asperiores.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../imagens/sobre2.jpg" alt="">
          <h5>Lorem ipsum dolor sit amet.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat dignissimos expedita labore odit
            veritatis adipisci ab, voluptates quia ad provident nobis repellat assumenda natus blanditiis consectetur
            beatae. Doloremque, asperiores.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../imagens/sobre3.jpg" alt="">
          <h5>Lorem ipsum dolor sit amet.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat dignissimos expedita labore odit
            veritatis adipisci ab, voluptates quia ad provident nobis repellat assumenda natus blanditiis consectetur
            beatae. Doloremque, asperiores.</p>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <h4 id="parcerias" class="col-12 col-sm-12 col-md-12 col-lg-12">Parcerias</h4>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-body">
              <h6>Público</h6>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni ex temporibus illo, quaerat beatae
                deserunt quidem delectus placeat expedita quia similique commodi qui ipsa accusantium nihil maiores
                neque reiciendis minus ducimus autem? Exercitationem nisi, inventore veritatis, voluptatem mollitia aut
                necessitatibus ipsa, esse suscipit illo quod sint dolore eum non earum?</p>
              <p><b>Parceiros:</b></p>
              <div class="logos">
                <img src="../imagens/logo1.png" class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="../imagens/logo1.png" class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="../imagens/logo1.png" class="col-4 col-sm-4 col-md-4 col-lg-4">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-body">
              <h6>Privada</h6>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni ex temporibus illo, quaerat beatae
                deserunt quidem delectus placeat expedita quia similique commodi qui ipsa accusantium nihil maiores
                neque reiciendis minus ducimus autem? Exercitationem nisi, inventore veritatis, voluptatem mollitia aut
                necessitatibus ipsa, esse suscipit illo quod sint dolore eum non earum?</p>
              <p><b>Parceiros:</b></p>
              <div class="logos">
                <img src="../imagens/logo2.png" class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="../imagens/logo2.png" class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="../imagens/logo2.png" class="col-4 col-sm-4 col-md-4 col-lg-4">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="container avaliacoes">
      <div class="row">
        <h4 id="avaliacoes" class="col-12 col-sm-12 col-md-12 col-lg-12">Avaliações</h4>

        <div class="col-4 col-sm-4 col-md-1 col-lg-1">
          <img src="../imagens/usuario1.jpg" alt="">
        </div>
        <div class="col-8 col-sm-8 col-md-3 col-lg-3">
          <h2>Nome Usuario</h2>
          <p><b>Lorem, ipsum.</b></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat veniam, voluptatibus, eius sint sequi
            magnam alias sapiente earum corporis aperiam exercitationem perspiciatis, ipsa facere ducimus quam vitae
            repudiandae voluptate molestias corrupti cupiditate ut neque dolor non quaerat! Harum rerum, unde
            necessitatibus laudantium, accusantium nobis ipsam quis quae ipsa, in esse.
          </p>
        </div>
        <div class="col-4 col-sm-4 col-md-1 col-lg-1">
          <img src="../imagens/usuario1.jpg" alt="">
        </div>
        <div class="col-8 col-sm-8 col-md-3 col-lg-3">
          <h2>Nome Usuario</h2>
          <p><b>Lorem, ipsum.</b></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat veniam, voluptatibus, eius sint sequi
            magnam alias sapiente earum corporis aperiam exercitationem perspiciatis, ipsa facere ducimus quam vitae
            repudiandae voluptate molestias corrupti cupiditate ut neque dolor non quaerat! Harum rerum, unde
            necessitatibus laudantium, accusantium nobis ipsam quis quae ipsa, in esse.
          </p>
        </div>
        <div class="col-4 col-sm-4 col-md-1 col-lg-1">
          <img src="../imagens/usuario1.jpg" alt="">
        </div>
        <div class="col-8 col-sm-8 col-md-3 col-lg-3">
          <h2>Nome Usuario</h2>
          <p><b>Lorem, ipsum.</b></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat veniam, voluptatibus, eius sint sequi
            magnam alias sapiente earum corporis aperiam exercitationem perspiciatis, ipsa facere ducimus quam vitae
            repudiandae voluptate molestias corrupti cupiditate ut neque dolor non quaerat! Harum rerum, unde
            necessitatibus laudantium, accusantium nobis ipsam quis quae ipsa, in esse.
          </p>
        </div>
      </div>
    </section>

    <section class="container geral">
      <div class="row">
        <div class=" col-12 col-sm-12 col-md-8 col-lg-8">
          <h4 id="nos">Sobre Nós</h4>
          <section class="container novidades">
            <div class="row">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ducimus suscipit obcaecati a esse amet
              facilis voluptates accusantium inventore quod, in consectetur totam accusamus quia consequuntur dolor eius
              beatae pariatur dolore ipsa quibusdam distinctio doloremque. Libero sequi dignissimos, modi deserunt
              praesentium possimus odio accusantium delectus reiciendis ipsa, quae exercitationem tempora.
            </div>
          </section>

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <h4 id="contatos">Contatos</h4>
          <p>Meu nome é Yan Pablo Santos Rodrigues, tenho 18 anos e estou cursando o 1º periodo da faculdade
            de Ciência da Computação na PUC Minas. Esse site é um trabalho da materia Desenvolvimento de
            Interfaces Web, e sua proposta consiste em criar um Portal de Filmes com o conteúdo que foi
            aplicado (HTML e CSS).
          </p>
          <ul>
            <li>Redação: Yan Pablo</li>
            <li>Pesquisa: Yan Pablo</li>
            <li>Gerente Social: Yan Pablo</li>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <footer class="container footer">
    <section class="container">
      <div class="row footer">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
          <img src="../imagens/usuario1.jpg" class="logo">
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
          <ul>
            <li>
              <a href="#sobre">Sobre o Site</a>
            </li>
            <li>
              <a href="#parcerias">Parcerias</a>
            </li>
            <li>
              <a href="#avaliacoes">Avaliações</a>
            </li>
            <li>
              <a href="#nos">Sobre Nós</a>
            </li>
            <li>
              <a href="#contatos">Contatos</a>
            </li>
          </ul>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
          <h6>Nossas Redes:</h6>
          <div class="sociais">
            <div class=" col-4 col-sm-4 col-md-3 col-lg-4">
              <img src="../imagens/facebook.png">
            </div>
            <div class=" col-4 col-sm-4 col-md-3 col-lg-4">
              <img src="../imagens/instagram.png">
            </div>
            <div class=" col-4 col-sm-4 col-md-3 col-lg-4">
              <img src="../imagens/twitter.png">
            </div>
          </div>
          <h6>Copyright 2020 - Todos Direitos Reservados</h6>

        </div>
      </div>
    </section>
  </footer>
<form>
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group dado_pessoal">
          <label for="email">
            <span>Email</span>
          </label>
          <input type="text" id="email" class="form-control" name="user_email" placeholder="Obrigatório" required>
        </div>
        <div class="form-group dado_pessoal">
          <label for="senha">
            <span>Senha</span>
          </label>
          <input type="password" id="senha" class="form-control" name="user_senha" placeholder="********" required>
        </div>
        <a href="#">Esqueceu sua senha?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Logar</button>
      </div>
    </div>
  </div>
</div>

</form>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/aaa853252b.js" crossorigin="anonymous"></script>
</body>

</html>